h1 {
    color:oldlace;
    font-family: sans-serif;
    

}
.header{
    background-color:lightcoral;
    display:flex;
    justify-content:space-evenly;
    font-family: sans-serif;
    
    
}


.grid{
    background-color: lightgreen;
    display:flex;
    flex-wrap: wrap;

    justify-content:space-evenly;
    font-family: sans-serif;
}
h2{
    text-align:center;
    color:#123545;
    background-color:lime;
    font-family: sans-serif;

    
    
}
h3{
    color: seagreen;
    font-family:sans-serif;
}
body{
    background-color: #fffafa;
    background-repeat: no-repeat;
    background-size: cover;
}
a:link{color: aqua;}
a:visited{color: brown;}
.deeva{position: relative;}
.deeva h3{position:absolute;top:25%;left: 35%;opacity:0;}
.deeva:hover h3{opacity:1}
.deeva:hover img{opacity:0.1}

.deeva h4{position:absolute;top:25%; left:35%;opacity:0;}
.deeva:hover h4{opacity:1}
.deeva:hover img{opacity:0.1}


